<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H.I.P.S.</title>
    <style>
      .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <section class="flex-container">
      <h1><u>Stenography</u></h1>
      <div class="file_input_form flex-container">
        <form
          method="POST"
          action=""
          enctype="multipart/form-data"
          accept=".txt"
        >
          <div class="form_title">
            Encrypt Image Here! Only .png files accepted
          </div>
          <br />
          <div class="file_input">
            <input
              type="file"
              name="txt_file"
              enctype="multipart/form-data"
              accept=".png"
            />
          </div>
          <label for="etext">Encryption Message:</label>
          <br />
          <textarea
            type="textarea"
            id="etext"
            name="etext"
            class=""
            cols="60"
            rows="6"
          ></textarea>
          <br />
          <div class="submit_button">
            <input
              type="submit"
              name="submit_form"
              value="Encode"
              enctype="multipart/form-data"
            />
          </div>
        </form>
      </div>
    </section>
    <br />
    <section class="flex-container">
      <div class="file_input_form">
        <form
          method="POST"
          action=""
          enctype="multipart/form-data"
          accept=".txt"
        >
          <div class="text-2xl">
            Decrypt Image Here! Only .png files accepted
          </div>
          <br />
          <div class="file_input">
            <input
              type="file"
              name="txt_file"
              enctype="multipart/form-data"
              accept=".png"
            />
          </div>
          <div class="submit_button">
            <input
              type="submit"
              name="submit_form"
              value="Decode"
              enctype="multipart/form-data"
            />
          </div>
          <label for="etext">Decrypted Message:</label>
          <br />
          <textarea
            disabled="true"
            type="textarea"
            id="etext"
            name="etext"
            class=""
            cols="60"
            rows="6"
          >
{{decrypted_message}}</textarea
          >
          <br />
        </form>
      </div>
    </section>
    <section class="flex-container">
      <h2>How It Works</h2>
      <p>
        One primary challenge of encoding text into images is making sure the
        image doesn't look different after being encoded. We accomplished this
        by taking each individual, red, green, blue value, and changing the
        last, or least significant bit, to represent a bit in ASCII text.
      </p>
      <p>
        We started by doing this on the first X RGB values in the image, X being
        the number of binary bits required to represent the ASCII message typed
        in. However, this makes it pretty easy to figure out the encoded text,
        making the encoding useless. We needed a way to make it much more
        difficult to decipher the message (without using the decode method), and
        make the message more secure.
      </p>
      <p>
        In order to solve this, we encrypted parts of the message throughout the
        message by indexing all the R, G, B values and randomly choosing which
        ones to write parts of the message to. So how will the decode message
        identify where these randomly chosen locations are (and how much text is
        stored starting at each one)? Well, after each piece of text (starting
        at a randomly chosen location), we include 8 zeroes, representing the
        null terminator string. This tells the decoder to stop reading the
        current set of encoded bits. But how does it know where these locations
        actually are? Well, in reverse order at the end of the file we encode
        the locations of the bits. When decoding, this information is pulled to
        start decoding the image.
      </p>
      <p>
        This stenography tool was packaged into a pip package, which can be
        installed by any user into their python installation. We used a flask
        server, running on AWS, as flask is python and can natively run our
        stenography package.
      </p>
    </section>
  </body>
</html>
